<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutController</servlet-name>
        <servlet-class>controller.logoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteUniversityController</servlet-name>
        <servlet-class>controller.deleteUniversityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUniversityController</servlet-name>
        <servlet-class>controller.AddUniversityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUniversityController</servlet-name>
        <servlet-class>controller.UpdateUniversityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UniversityController</servlet-name>
        <servlet-class>controller.UniversityController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutController</servlet-name>
        <url-pattern>/logoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteUniversityController</servlet-name>
        <url-pattern>/deleteUniversityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUniversityController</servlet-name>
        <url-pattern>/AddUniversityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUniversityController</servlet-name>
        <url-pattern>/UpdateUniversityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UniversityController</servlet-name>
        <url-pattern>/UniversityController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
